<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated site -->
      <package
            uri="tag:scheidt-bachmann-st.de,2018-05-18:planpro/site"
            class="org.eclipse.set.model.test.site.SitePackage"
            genModel="model/site.genmodel"/>
   </extension>

</plugin>
