<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated validationreport -->
      <package
            uri="tag:scheidt-bachmann-st.de,2018-09-06:planpro/vr"
            class="org.eclipse.set.model.validationreport.ValidationreportPackage"
            genModel="model/validationreport.genmodel"/>
   </extension>

</plugin>
