/* Adjust font size to 14px */
html {
  font-size: 14px;
}
/* Always left-align text in the sidebar */
.sidebar {
  text-align: left;
}
/* Reduce margins between list elements */
ul, ol:first-child {
    margin-top: 1.3em;
}
/* but nested lists should not have margin */
li ul, li ol:first-child {
    margin-top: 0;
}
ol, ul {
  margin-top: 1.3em;
}
li p {
    margin: 0;
}

/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype')
}
