version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
  rebase-strategy: disabled
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
  rebase-strategy: disabled
- package-ecosystem: npm
  directory: "/web/pdf"
  schedule:
    interval: daily
  rebase-strategy: disabled    
  groups:
    typescript-eslint:
      patterns:
      - "@typescript-eslint*"
- package-ecosystem: npm
  directory: "/web/textviewer"
  schedule:
    interval: daily
  rebase-strategy: disabled
  groups:
    typescript-eslint:
      patterns:
      - "@typescript-eslint*"
  ignore:
    - dependency-name: "eslint-plugin-n"      
- package-ecosystem: npm
  directory: "/web/siteplan"
  schedule:
    interval: daily
  rebase-strategy: disabled
  groups:
    typescript-eslint:
      patterns:
      - "@typescript-eslint*"
    turf:
      patterns:
      - "@turf*"
