<?xml version="1.0" encoding="UTF-8"?>
<org.eclipse.emf.ecp.view.template.model:ViewTemplate
    xmi:version="2.0"
    xmlns:xmi="http://www.omg.org/XMI"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:org.eclipse.emf.ecp.view.template.model="http://org/eclipse/emf/ecp/view/template/model"
    xmlns:org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model="http://www.eclipse.org/emf/ecp/view/template/selector/viewmodelelement/model"
    xmlns:org.eclipse.emf.ecp.view.template.style.alignment.model="http://www.eclipse.org/emf/ecp/view/template/style/alignment/model"
    xmlns:org.eclipse.emf.ecp.view.template.style.background.model="http://www.eclipse.org/emf/ecp/view/template/style/background/model"
    xmlns:org.eclipse.emf.ecp.view.template.style.tab.model="http://www.eclipse.org/emf/ecp/view/template/style/tab/model"
    xmlns:org.eclipse.emf.ecp.view.template.style.table.validation.model="http://www.eclipse.org/emf/ecp/view/template/style/table/validation/model"
    xmlns:org.eclipse.emf.ecp.view.template.style.validation.model="http://www.eclipse.org/emf/ecp/view/template/style/validation/model">
  <styles>
    <selector
        xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector"
        attributeValue="ACED00057400106F626A6563745175616E746974696573">
      <classType
          href="http://org/eclipse/emf/ecp/view/table/model/150#//TableControl"/>
      <attribute
          href="http://org/eclipse/emf/ecp/view/model/1180#//Element/name"/>
    </selector>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.table.validation.model:TableValidationStyleProperty"/>
  </styles>
  <styles>
    <selector
        xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector"
        attributeValue="ACED0005740009636F6E666C69637473">
      <classType
          href="http://org/eclipse/emf/ecp/view/table/model/150#//TableControl"/>
      <attribute
          href="http://org/eclipse/emf/ecp/view/model/1180#//Element/name"/>
    </selector>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.table.validation.model:TableValidationStyleProperty"/>
  </styles>
  <styles>
    <selector
        xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector">
      <classType
          href="http://org/eclipse/emf/ecp/view/table/model/150#//TableControl"/>
    </selector>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.table.validation.model:TableValidationStyleProperty"
        columnWidth="25"/>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.validation.model:ValidationStyleProperty"
        warningColorHEX=""
        errorColorHEX="ff9c9c"
        errorImageURL="platform:/plugin/org.eclipse.set.utils/icons/warning_red_transparent.png"/>
  </styles>
  <styles>
    <selector
        xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector">
      <classType
          href="http://org/eclipse/emf/ecp/view/model/1180#//Control"/>
    </selector>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.validation.model:ValidationStyleProperty"
        warningColorHEX="ffff9c"
        warningImageURL="platform:/plugin/org.eclipse.set.utils/icons/warning_yellow_transparent.png"
        errorColorHEX="ff9c9c"
        errorImageURL="platform:/plugin/org.eclipse.set.utils/icons/warning_red_transparent.png"/>
  </styles>
  <styles>
    <selector
        xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector"
        attributeValue="ACED000574000A436F6E666C6963744964">
      <classType
          href="http://org/eclipse/emf/ecp/view/model/1180#//Control"/>
      <attribute
          href="http://org/eclipse/emf/ecp/view/model/1180#//Element/name"/>
    </selector>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.alignment.model:AlignmentStyleProperty"/>
  </styles>
  <styles>
    <selector
        xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector"
        attributeValue="ACED00057E7200326F72672E65636C697073652E656D662E6563702E766965772E7370692E67726F75702E6D6F64656C2E47726F75705479706500000000000000001200007872000E6A6176612E6C616E672E456E756D0000000000000000120000787074000B434F4C4C41505349424C45">
      <classType
          href="http://org/eclipse/emf/ecp/view/group/model#//Group"/>
      <attribute
          href="http://org/eclipse/emf/ecp/view/group/model#//Group/groupType"/>
    </selector>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.background.model:BackgroundStyleProperty"
        color="ff8000"/>
  </styles>
  <styles>
    <selector
        xsi:type="org.eclipse.emf.ecp.view.template.selector.viewmodelelement.model:ViewModelElementSelector"
        attributeValue="ACED00057400175F47766A436B4A5A6645656965622D7952754E4F334251">
      <classType
          href="http://org/eclipse/emf/ecp/view/categorization/model#//CategorizationElement"/>
      <attribute
          href="http://org/eclipse/emf/ecp/view/model/1180#//Element/uuid"/>
    </selector>
    <properties
        xsi:type="org.eclipse.emf.ecp.view.template.style.tab.model:TabStyleProperty"
        errorImageURL="platform:/plugin/org.eclipse.set.utils/icons/warning_red_transparent.png"/>
  </styles>
</org.eclipse.emf.ecp.view.template.model:ViewTemplate>
