<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product_set"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.eclipse.set.application"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.set.application/css/default.css">
         </property>
         <property
               name="appName"
               value="org.eclipse.set.application">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.eclipse.set.application/org.eclipse.set.application.E4LifeCycle">
         </property>
      </product>
   </extension>

</plugin>
