<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="org.eclipse.set.releng.target" sequenceNumber="1656330999">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.17.0.v20200831-1002"/>
      <unit id="org.eclipse.e4.tools" version="4.8.700.v20200109-1634"/>
      <unit id="org.eclipse.e4.tools.emf.ui" version="4.6.900.v20200828-0909"/>
      <unit id="org.eclipse.e4.tools.services" version="4.8.400.v20200217-1142"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.23.0.v20200630-0516"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.300.v20200828-1034"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.500.v20200902-1800"/>
      <unit id="org.eclipse.pde.build" version="3.10.800.v20200410-1419"/>
      <unit id="org.eclipse.pde.core" version="3.14.0.v20200817-1143"/>
      <unit id="org.eclipse.pde.launching" version="3.9.0.v20200812-1037"/>
      <unit id="org.eclipse.pde.ui" version="3.12.0.v20200824-1258"/>
      <unit id="org.eclipse.platform.sdk" version="4.17.0.I20200902-1800"/>
      <unit id="org.eclipse.rcp.sdk.id" version="4.17.0.I20200902-1800"/>
      <unit id="org.eclipse.ui.editors" version="3.13.300.v20200812-2334"/>
      <unit id="org.eclipse.ui.trace" version="1.1.800.v20200106-1301"/>
      <unit id="org.eclipse.ui.views.log" version="1.2.1200.v20200828-0938"/>
      <repository location="https://download.eclipse.org/eclipse/updates/4.17/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.18.0.v20210327075149"/>
      <unit id="org.eclipse.babel.nls_modeling.emf_de.feature.group" version="4.18.0.v20210327075149"/>
      <repository location="https://archive.eclipse.org/technology/babel/update-site/R0.18.3/2020-12/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.http" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.io" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.security" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.server" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.servlet" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.util" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.util.ajax" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.webapp" version="9.4.35.v20201120"/>
      <unit id="org.eclipse.jetty.xml" version="9.4.35.v20201120"/>
      <unit id="javax.annotation" version="1.3.5.v20200909-1856"/>
      <unit id="javax.annotation.source" version="1.3.5.v20200909-1856"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.24.0.v20200917-1439"/>
      <unit id="org.eclipse.net4j.util.feature.group" version="4.12.0.v20201209-0820"/>
      <repository location="https://download.eclipse.org/releases/2020-12/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtend.lib" version="2.24.0.v20201130-0911"/>
      <unit id="org.eclipse.xtend.lib.macro" version="2.24.0.v20201130-0911"/>
      <unit id="org.eclipse.xtend.lib.macro.source" version="2.24.0.v20201130-0911"/>
      <unit id="org.eclipse.xtend.lib.source" version="2.24.0.v20201130-0911"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.24.0.v20201130-1016"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.24.0.v20201130-0911"/>
      <unit id="org.eclipse.xtext.xbase.lib.source" version="2.24.0.v20201130-0911"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.24.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.conversantmedia.disruptor" version="1.2.13"/>
      <unit id="com.sun.istack.commons-runtime" version="3.0.7"/>
      <unit id="com.sun.xml.fastinfoset.FastInfoset" version="1.2.15"/>
      <unit id="it.geosolutions.imageio-ext.geocore" version="1.2.2"/>
      <unit id="it.geosolutions.imageio-ext.streams" version="1.2.2"/>
      <unit id="it.geosolutions.imageio-ext.tiff" version="1.2.2"/>
      <unit id="it.geosolutions.imageio-ext.utilities" version="1.2.2"/>
      <unit id="it.geosolutions.jaiext.affine.jt-affine" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.algebra.jt-algebra" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.bandcombine.jt-bandcombine" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.bandmerge.jt-bandmerge" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.bandselect.jt-bandselect" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.binarize.jt-binarize" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.border.jt-border" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.buffer.jt-buffer" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.classifier.jt-classifier" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.colorconvert.jt-colorconvert" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.colorindexer.jt-colorindexer" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.crop.jt-crop" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.errordiffusion.jt-errordiffusion" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.format.jt-format" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.imagefunction.jt-imagefunction" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.iterators.jt-iterators" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.lookup.jt-lookup" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.mosaic.jt-mosaic" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.nullop.jt-nullop" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.orderdither.jt-orderdither" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.piecewise.jt-piecewise" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.rescale.jt-rescale" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.rlookup.jt-rlookup" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.scale.jt-scale" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.scale2.jt-scale2" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.shadedrelief.jt-shadedrelief" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.stats.jt-stats" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.translate.jt-translate" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.utilities.jt-utilities" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.vectorbin.jt-vectorbin" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.warp.jt-warp" version="1.1.10"/>
      <unit id="it.geosolutions.jaiext.zonal.jt-zonal" version="1.1.10"/>
      <unit id="javax.media.jai_codec" version="1.1.3"/>
      <unit id="javax.media.jai_core" version="1.1.3"/>
      <unit id="javax.media.jai_imageio" version="1.1.0"/>
      <unit id="net.sf.geographiclib.GeographicLib-Java" version="1.49.0"/>
      <unit id="org.ejml.core" version="0.34.0"/>
      <unit id="org.ejml.ddense" version="0.34.0"/>
      <unit id="org.geotools.gt-coverage" version="21.2.0.21"/>
      <unit id="org.geotools.gt-cql" version="21.2.0.21"/>
      <unit id="org.geotools.gt-epsg-hsql" version="21.2.0.21"/>
      <unit id="org.geotools.gt-geometry" version="21.2.0.21"/>
      <unit id="org.geotools.gt-geotiff" version="21.2.0.21"/>
      <unit id="org.geotools.gt-image" version="21.2.0.21"/>
      <unit id="org.geotools.gt-main" version="21.2.0.21"/>
      <unit id="org.geotools.gt-metadata" version="21.2.0.21"/>
      <unit id="org.geotools.gt-opengis" version="21.2.0.21"/>
      <unit id="org.geotools.gt-referencing" version="21.2.0.21"/>
      <unit id="org.geotools.gt-render" version="21.2.0.21"/>
      <unit id="org.geotools.gt-shapefile" version="21.2.0.21"/>
      <unit id="org.geotools.gt-svg" version="21.2.0.21"/>
      <unit id="org.geotools.gt-swing" version="21.2.0.21"/>
      <unit id="org.geotools.gt-xml" version="21.2.0"/>
      <unit id="org.hsqldb.hsqldb" version="2.5.1"/>
      <unit id="org.locationtech.jts.jts-core" version="1.16.0.1"/>
      <unit id="si.uom.si-quantity" version="0.7.1"/>
      <unit id="si.uom.si-units-java8" version="0.7.1"/>
      <unit id="systems.uom.systems-common-java8" version="0.7.2"/>
      <unit id="systems.uom.systems-quantity" version="0.7.2"/>
      <unit id="tec.uom.lib.uom-lib-common" version="1.0.2"/>
      <unit id="tec.uom.se" version="1.0.8"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/geotools/org.geotools.gt/21.2.0-21/org.geotools.gt-21.2.0-21.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.xmlgraphics.batik-anim" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-awt-util" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-bridge" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-dom" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-ext" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-gvt" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-parser" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-script" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-svg-dom" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-transcoder" version="1.13.0.19"/>
      <unit id="org.apache.xmlgraphics.batik-xml" version="1.13.0.19"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/eclipse/set/batik/batik-selection/1.13.0-19/batik-selection-1.13.0-19.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.xmlgraphics.fop" version="2.5.0.4"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/eclipse/set/org/apache/xmlgraphics/fop/2.5.0-4/fop-2.5.0-4.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.commons-collections4" version="4.4.0"/>
      <unit id="org.apache.commons.commons-compress" version="1.21.0"/>
      <unit id="org.apache.commons.math3" version="3.6.1"/>
      <unit id="org.apache.servicemix.bundles.poi" version="4.1.2.2"/>
      <unit id="org.apache.servicemix.bundles.xmlbeans" version="3.1.0.1"/>
      <unit id="org.apache.servicemix.bundles.xmlresolver" version="1.2.0.5"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/eclipse/set/org/apache/poi/poi/4.1.2-2/poi-4.1.2-2.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.6.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.6.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="1.2.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.e4.source.feature.feature.group" version="1.2.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.6.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.6.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="1.2.0.201909181823"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="1.2.0.201909181823"/>
      <repository location="https://download.eclipse.org/nattable/releases/1.6.0/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.2.1.201812241324"/>
      <repository location="https://download.eclipse.org/nebula/releases/2.1.0"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.qos.logback.classic" version="1.2.3.v20200428-2012"/>
      <unit id="ch.qos.logback.core" version="1.2.3.v20200428-2012"/>
      <unit id="ch.qos.logback.slf4j" version="1.2.3.v20200428-2012"/>
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
      <unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
      <unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
      <unit id="javax.activation" version="1.1.0.v201211130549"/>
      <unit id="javax.mail" version="1.4.0.v201005080615"/>
      <unit id="javax.measure.unit-api" version="1.0.0.v20170818-1538"/>
      <unit id="javax.transaction" version="1.1.1.v201105210645"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
      <unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
      <unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
      <unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>
      <unit id="org.apache.commons.codec" version="1.14.0.v20200818-1422"/>
      <unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.xalan" version="2.7.2.v20201124-1837"/>
      <unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
      <unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.mockito" version="2.23.0.v20200310-1642"/>
      <unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
      <unit id="org.slf4j.api" version="1.7.30.v20200204-2150"/>
      <unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20201130205003/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.dom4j" version="1.6.1.v201312101416"/>
      <unit id="org.dom4j.source" version="1.6.1.v201312101416"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20150821153341/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emf.ecp.view.custom.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emf.ecp.view.group.swt.collapsable" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emf.ecp.view.group.swt.collapsable.source" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emf.ecp.view.table.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emf.ecp.view.treemasterdetail.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emf.ecp.view.validation.initial.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.core.bazaar.feature.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.core.bazaar.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.swt.control.text.autocomplete.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.swt.controlgrid.feature.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.swt.controlgrid.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.view.annotation.feature.source.feature.group" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.view.controlgrid.model.edit.source" version="1.25.0.20200602-1726"/>
      <unit id="org.eclipse.emfforms.view.controlgrid.model.source" version="1.25.0.20200602-1726"/>
      <repository location="https://download.eclipse.org/ecp/releases/releases_125/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.scheidtbachmann.planpro.model.model1902.feature.feature.group" version="5.14.11"/>
      <unit id="de.scheidtbachmann.planpro.model.model1902.feature.source.feature.group" version="5.14.11"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/de/scheidtbachmann/planpro/de.scheidtbachmann.planpro.model.repository/5.14.11/de.scheidtbachmann.planpro.model.repository-5.14.11.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="net.sf.saxon.Saxon-HE" version="9.6.0.10"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/eclipse/set/net/sf/saxon/saxon/9.6.0-7002/saxon-9.6.0-7002.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.12.2"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.12.2"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.12.2"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/com/fasterxml/com.fasterxml.jackson/2.12.2-4/com.fasterxml.jackson-2.12.2-4.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.emfjson.jackson" version="1.3.0"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/emfjson/emfjson-jackson/1.3.0-4/emfjson-jackson-1.3.0-4.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.set.toolboxmodel.feature.feature.group" version="1.0.19"/>
      <unit id="org.eclipse.set.toolboxmodel.feature.source.feature.group" version="1.0.19"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/eclipse/set/org.eclipse.set.toolboxmodel.repository/1.0.19/org.eclipse.set.toolboxmodel.repository-1.0.19.zip-unzip/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.set.browser.feature.feature.group" version="1.0.16"/>
      <unit id="org.eclipse.set.browser.feature.source.feature.group" version="1.0.16"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/eclipse/set/org.eclipse.set.browser.releng.repository/1.0.16/org.eclipse.set.browser.releng.repository-1.0.16.zip-unzip/"/>
    </location>
  </locations>
</target>
