<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="org.eclipse.set.releng.target" sequenceNumber="1660124026">
	<locations>
		<location type="Target" uri="file:${project_loc:/org.eclipse.set.releng.target}/org.eclipse.set.releng.target.p2.target"/>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="emfjson-jackson" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.emfjson</groupId>
					<artifactId>emfjson-jackson</artifactId>
					<version>1.3.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Fasterxml Jackson" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-annotations</artifactId>
					<version>2.13.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-core</artifactId>
					<version>2.13.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-databind</artifactId>
					<version>2.13.3</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Apache FOP" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.xmlgraphics</groupId>
					<artifactId>fop</artifactId>
					<version>2.6</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   wrapped.${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
Require-Bundle:        org.apache.batik.util
Eclipse-BuddyPolicy:   registered, ext
DynamicImport-Package: *
]]></instructions>
		</location>
	</locations>
</target>