# This workflow will build the main SET application and publish it to GitHub Packages

name: Build model

on: push

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@16361eb4acea8698b220b76c0d4e84e1fd22c61d # v2
        with:
          hugo-version: "0.101.0"
          extended: true

      - name: Setup Ruby
        uses: ruby/setup-ruby@250fcd6a742febb1123a77a841497ccaa8b9e939 # v1.152.0
        with:
          ruby-version: 3.2

      - run: gem install asciidoctor

      - name: Build hugo
        run: hugo
        working-directory: web/about
        
      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: about-artifact
          path: web/about/dist
          retention-days: 1

  textviewer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          npm ci 
          npm run build
        working-directory: web/textviewer
      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: textviewer-artifact
          path: web/textviewer/dist
          retention-days: 1
          
  pdfviewer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          wget -O pdfjs.zip https://github.com/mozilla/pdf.js/releases/download/v2.16.105/pdfjs-2.16.105-dist.zip
          npm ci 
          npm run build
        working-directory: web/pdf
      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: pdfviewer-artifact
          path: web/pdf/dist
          retention-days: 1

  java:
    runs-on: ubuntu-latest
    needs:
      - docs
      - textviewer
      - pdfviewer
    permissions:
      contents: read
      packages: write
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: temurin
          overwrite-settings: false
          server-id: set-github
          cache: maven

      - name: Set up Maven
        uses: stCarolas/setup-maven@07fbbe97d97ef44336b7382563d66743297e442f # v4.5
        with:
          maven-version: 3.9.3
      
      - name: Fetch pdf viewer
        uses: actions/download-artifact@v3
        with:
          name: pdfviewer-artifact
          path: web/pdf/dist
      
      - name: Fetch text viewer
        uses: actions/download-artifact@v3
        with:
          name: textviewer-artifact
          path: web/textviewer/dist
      
      - name: Fetch about
        uses: actions/download-artifact@v3
        with:
          name: about-artifact
          path: web/about/dist          

      - name: Build
        run: mvn -T 1.5C -B clean verify --settings .github/settings.xml

      - name: Publish
        run: mvn -T 1.5C -B deploy --settings .github/settings.xml
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: eclipse-set-snapshot-${{github.run_number}}
          path: java/bundles/org.eclipse.set.releng.set.product/target/products/SET/win32/win32/x86_64/
          retention-days: 7
          
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@f0b5d2433f350eff587831d4ad22cb15aab75866 # v2.8
        if: always()
        with:
          files: |
            ${{ github.workspace }}/**/surefire-reports/*.xml
