# This workflow will build the main SET application and publish it to GitHub Packages
name: Build SET

on: 
  push:
    paths-ignore:
      - DEPENDENCIES
  repository_dispatch:

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Asciidoctor & Hugo
        uses: eclipse-set/build/.github/actions/setup-asciidoctor@main

      - name: Build About
        run: hugo
        working-directory: web/about
        
      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: about-artifact
          path: web/about/dist
          retention-days: 1

  textviewer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          npm ci
          npm run build
        working-directory: web/textviewer
      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: textviewer-artifact
          path: web/textviewer/dist
          retention-days: 1
          
  pdfviewer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          wget --no-verbose -O pdfjs.zip https://github.com/mozilla/pdf.js/releases/download/v3.10.111/pdfjs-3.10.111-dist.zip
          npm ci
          npm run build
        working-directory: web/pdf
      - name: Store artifact
        uses: actions/upload-artifact@v3
        with:
          name: pdfviewer-artifact
          path: web/pdf/dist
          retention-days: 1

  java:
    runs-on: ubuntu-latest
    needs:
      - docs
      - textviewer
      - pdfviewer
    permissions:
      contents: write
      packages: write
      checks: write
      pull-requests: write
      actions: read
      security-events: write
    steps:
      - uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        if: github.ref == 'refs/heads/main'
        with:
          languages: java, javascript
          config: |
            paths-ignore: 
              - '**/dist/**'
              - '**/target/**'
      
      - name: Setup Java
        uses: eclipse-set/build/.github/actions/setup-java@main
      
      - name: Fetch pdf viewer
        uses: actions/download-artifact@v3
        with:
          name: pdfviewer-artifact
          path: web/pdf/dist
      
      - name: Fetch text viewer
        uses: actions/download-artifact@v3
        with:
          name: textviewer-artifact
          path: web/textviewer/dist
      
      - name: Fetch about
        uses: actions/download-artifact@v3
        with:
          name: about-artifact
          path: web/about/dist          

      - name: Build
        run: mvn -T 1.5C -B -U clean verify

      - name: Publish
        run: mvn -T 1.5C -B deploy --settings .github/settings.xml -DaltDeploymentRepository=set-github::https://maven.pkg.github.com/${{ github.repository }}
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/') || startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: eclipse-set-snapshot-${{github.run_number}}
          path: java/bundles/org.eclipse.set.releng.set.product/target/products/SET/win32/win32/x86_64/
          retention-days: 7

      - name: Prepare release asset
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION=$(echo ${{ github.ref_name }} | cut -c 2-)
          mv *.zip unsigned-Eclipse-SET-$VERSION.zip
        working-directory: java/bundles/org.eclipse.set.releng.set.product/target/products

      - name: Upload release asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v1
        with: 
          files: java/bundles/org.eclipse.set.releng.set.product/target/products/unsigned-Eclipse-SET-*.zip
          
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@d93dbc08d265e4653da0c0af544bee2a851d3e38 # v2.10.0
        if: always()
        with:
          files: |
            ${{ github.workspace }}/**/surefire-reports/*.xml

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        if: github.ref == 'refs/heads/main'
