name: Check Licenses

on:
  pull_request:
    branches: 
     - 'main'
  issue_comment:
    types: [created]

jobs:
  license:
    uses: truongquangsb/build/.github/workflows/dash.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
    secrets:
      gitlabAPIToken: ${{ secrets.GITLAB_API_TOKEN }}      
