name: Check Licenses

on:
  pull_request:
    paths:
      - '**/pom.xml'
      - '**/package.json'
      - '**/org.eclipse.set.releng.target.target'
    branches: 
     - 'main'
  issue_comment:
    types: [created]
  
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  license:
    uses: eclipse-set/build/.github/workflows/dash.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
    secrets:
      gitlabAPIToken: ${{ secrets.GITLAB_API_TOKEN }}      
