name: Quality

on:
  pull_request:
    paths:
      - '**/java/**'
      - 'web/siteplan/**'
      - 'web/textviewer/**'
  push:
    tags:
      - 'v**'
    branches:
      - 'release/**'
      - 'main'

run-name: Qualtity - ${{github.event_name == 'push' && github.event.head_commit.message || github.event_name == 'pull_request' && github.event.pull_request.title || 'Unknow name'}}
jobs:
  java-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: eclipse-set/build/.github/actions/setup-java@main

      - name: Get eclipse
        run: mkdir ./tmp && wget -O ./tmp/eclipse.tar.gz https://archive.eclipse.org/technology/epp/downloads/release/2024-06/R/eclipse-java-2024-06-R-linux-gtk-x86_64.tar.gz

      - name: Unzip eclipse
        run: tar -xf ./tmp/eclipse.tar.gz -C ./tmp

      - name: Test
        run: ls -la $JAVA_HOME/bin

      - name: Run eclipse formatter
        run: ./tmp/eclipse/eclipse -noSplash -vm "$JAVA_HOME/bin/java" -data ./tmp/workspace -application org.eclipse.jdt.core.JavaCodeFormatter -config ./releng/eclipse/java-formatter.epf .

      - name: Cleanup eclipse
        run: rm -R ./tmp
      
      - name: Print diffs
        run: git --no-pager diff --exit-code

  lint-siteplan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci
        working-directory: web/siteplan

      - name: Eslint
        run: npm run lint
        working-directory: web/siteplan

  lint-textviewer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies
        run: cd web/textviewer && npm install

      - name: Eslint
        run: cd web/textviewer && npm run lint

  test-siteplan:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci
        working-directory: web/siteplan

      - name: Install Playwright Browsers
        run: npm exec playwright install --with-deps
        working-directory: web/siteplan

      - name: Run Playwright tests
        run: npm run test:e2e
        working-directory: web/siteplan

      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: web/siteplan/playwright-report/
          retention-days: 1

