# This workflow will build the main SET application and publish it to GitHub Packages
name: Test SET

on: 
  workflow_run:
    workflows: ["Build SET"]
    types: [completed]

jobs:
  swtbot:
    runs-on: windows-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
      checks: write
      pull-requests: write
      actions: read
    steps:
      - uses: actions/checkout@v6
      
      - name: Setup Java
        uses: eclipse-set/build/.github/actions/setup-java@main
        
      - name: Fetch SET
        uses: actions/download-artifact@v7
        with:
          name: eclipse-set-snapshot-${{github.run_number}}
          path: ${{ env.TEST_APPLICATION_DIR }}

      - name: Fetch m2 Deploy
        # For main or tag build, the m2 packages can be taken directly from github m2package
        if: github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/')
        uses: actions/download-artifact@v7
        with:
          name: set-m2deploy-${{github.run_number}}
          path: ${{ env.DEPLOY_DIR }}

      - name: Fetch main csv files
        if: github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/heads/release/') && !startsWith(github.ref, 'refs/tags/')
        uses: eclipse-set/build/.github/actions/fetch-main-table-csv-ref@main
        with:
          repo: ${{ github.repository }}
        continue-on-error: true

      - name: Cache m2repo
        uses: actions/cache@v5
        with:
          enableCrossOsArchive: true
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2repo-${{ hashFiles('**/java/bundles/org.eclipse.set.releng.target/org.eclipse.set.releng.target.target', 'pom.xml') }}
          restore-keys: ${{ runner.os }}-m2repo-

      - name: Run Test
        id: test-steps
        shell: bash
        run: |
          m2RepoPath="https://maven.pkg.github.com/eclipse-set/set"
          if [[ "${{ github.event_name }}" == "pull_request" || "${{github.ref}}" == refs/heads/release/* ]]; then
            m2RepoPath="file://${{ env.DEPLOY_DIR }}"
          fi
          mvn -T 1.5C -U -B -f java-test/pom.xml clean verify  \
            --settings ./.github/settings.xml \
            -Dskip-test=false \
            -Dm2-repo-path="$m2RepoPath" \
            -Dapplication-under-test="${{ env.TEST_APPLICATION_DIR }}" \
      
      - name: Upload csv files
        if: failure() && steps.test-steps.outcome == 'failure'
        uses: actions/upload-artifact@v6
        with:
          name: table-csv-${{github.run_number}}
          path: ${{ github.workspace}}/java/bundles/org.eclipse.set.swtbot/target/classes/diff/**/*.csv
          retention-days: 7
  
  table-diff-view:
    runs-on: ubuntu-latest
    needs: swtbot
    if: always() && github.actor_id != 49699333 && !startsWith(github.ref, 'refs/heads/release/') && !startsWith(github.ref, 'refs/tags/')
    container: ghcr.io/eclipse-set/table-diff-view:latest
    permissions:
      contents: write
      checks: write
      pull-requests: write
      actions: read
      issues: write
    steps:
      - name: Get Branchname
        shell: bash
        run: |
            if [ "${{ github.event_name }}" == "pull_request" ]; then
              echo "BRANCH_NAME=${{ github.head_ref }}" >> $GITHUB_ENV
            else
              echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
            fi

      - name: Fetch table csv
        if: needs.swtbot.result == 'failure'
        uses: actions/download-artifact@v7
        with:
          name: table-csv-${{github.run_number}}
          path: ${{ env.DIFF_DIR }}

      - name: Create diff view
        shell: bash
        run: |
          python -m tablediffview \
            --diffDir=${{ env.DIFF_DIR }} \
            --branchName=${{ env.BRANCH_NAME }} \
            --prNumber=${{github.event.pull_request.number}} \
            --runId=${{github.run_id}}
      
      - name: Upload Diff-File
        if: needs.swtbot.result == 'failure'
        uses: actions/upload-artifact@v6
        with:
          name: table-diff-files-${{github.run_number}}
          path: ${{ env.DIFF_DIR }}/diff-md
          retention-days: 5

  test-siteplan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci
        working-directory: web/siteplan

      - name: Install Playwright Browsers
        run: npm exec playwright install --with-deps
        working-directory: web/siteplan

      - name: Run Playwright tests
        run: npm run test:e2e
        working-directory: web/siteplan

      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: web/siteplan/playwright-report/
          retention-days: 1